.container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-image: url('../SignInPage/BackgroundToForm.png');
    background-repeat: no-repeat;
    background-size: cover;

}