.header {
    position: fixed;
    display: flex;
    align-items: center;
    backdrop-filter: blur(0.9px);
    border-radius: 10px;
    width: 79%;
    left: 20%;
    padding: 10px 15px;

}

@media (max-width: 940px) {

    .header {
        width: 100%;
        left: 0;
    }
}