.title {
    font-family: Exo 2;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;

    // gap: 40px;
    // margin: 1em 0;
    color: #FFFFFF;
}