.cardContent {
    // display: flex;
    // flex-direction: column;
    max-width: 100%;
    // margin: 7em 0 3em;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1em;

    .card {
        padding: .5em 0;

        .allText {
            display: flex;
            flex-direction: column-reverse;
            justify-content: space-between;

            .text {
                flex: 1;

                .header {
                    display: flex;
                    align-items: center;
                    max-height: 24px;

                    text-overflow: ellipsis;

                    font-family: Exo 2;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 24px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #FFFFFF;
                    cursor: pointer;
                    transition-duration: .2s;

                    &:hover {
                        color: #7B61FF;
                    }
                }

                .description {
                    max-height: 112px;
                    text-overflow: ellipsis;

                    font-family: Exo 2;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 24px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #AFB2B6;

                    overflow: hidden;
                    position: relative;
                }

            }

            .image {
                // height: 250px;
                height: 350px;
                width: 100%;
                object-fit: cover;
                cursor: pointer;
                border-radius: 20px;
            }
        }
    }
}
