.container {
    margin: 7em 0 3em;
    display: flex;
    flex-direction: row;
    gap: 2.5em;

    .image {
        border-radius: 20px;

        .buttons {
            margin-top: 1em;
            display: flex;
            flex-direction: row;
            border-radius: 10px;
            background-color: #323537;

            .button {
                width: 100%;
                border: none;
                background-color: #00000000;
                padding: 1em 0;
                border: 1px solid black;

                &:hover {
                    path {
                        fill: #FFFFFF;
                        // stroke: red;
                    }

                    circle {
                        stroke: #FFFFFF;
                    }
                }
            }
        }
    }

    .content {
        color: #FFFFFF;
        width: 100%;

        .header {
            p {
                font-family: Exo 2;
                font-size: 16px;
                font-weight: 500;
                line-height: 24px;
                letter-spacing: 0em;
                text-align: left;

                color: #AFB2B6;
                margin: 0;
            }

            h1 {
                font-family: Exo 2;
                font-size: 40px;
                font-weight: 600;
                line-height: 60px;
                letter-spacing: 0em;
                text-align: left;

                color: #FFFFFF;

            }
        }
    }

}