.all {
    // width: 100%;
    // border-bottom: 1px solid #DADADA;
    margin-bottom: 2em;

    .tabsWrapper {
        // display: flex;
        // width: 100%;

        // width: 45%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        border: 2px solid #323537;
        // background-color: #FFFFFF;

        font-family: Exo 2;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: #FFFFFF;
        /* 150% */

        .tabs {
            display: inline-flex;
            justify-content: center;
            align-items: center;

            cursor: pointer;

            &.active {
                display: flex;
                justify-content: center;
                align-items: flex-start;
                gap: 10px;
            }
        }
    }


}

.tab {
    padding: 24px 40px 24px 40px;
    border-bottom: 3px solid rgba(255, 255, 255, 0);
    transition-duration: .2s;

    &.active {
        background-color: #323537;
    }
}