.menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100%;
    background-color: black;
    justify-content: space-between;

    .logo {
        color: #7B61FF;
        font-size: 2em;
        font-weight: bold;

        margin: 1.5em 0 0 1em;

        p {
            margin: 0;
        }

        span {
            color: #FFFFFF;
        }
    }

    ul {
        display: flex;
        flex-direction: column;

        .button {
            padding: 0;
            border: none;
            background-color: #00000000;

            a {
                text-decoration: none;
            }

            li {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                list-style-type: none;
                height: 5em;

                color: #FFFFFF;
                font-family: Exo 2;
                font-size: 18px;
                font-weight: 600;
                line-height: 24px;
                letter-spacing: 0em;
                text-align: left;

                justify-content: space-around;

                p {
                    margin: 0;

                    &:hover {
                        color: #7B61FF;
                    }
                }

                &:hover {
                    path {
                        fill: #7B61FF;
                    }
                }

            }
        }
    }
}

.dark {
    background-color: #292929;
}

@media (max-width: 1024px) {

    .menu {
        ul {
            padding-left: .5em;
        }
    }
}

@media (max-width: 940px) {

    .menu {
        display: none;
    }
}