.container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-image: url('./BackgroundToForm.png');
    background-repeat: no-repeat;
    background-size: cover;

    // backdrop-filter: blur(5px);
}