.container {
    display: flex;
    flex-direction: row;
    width: 90%;

    .containerSearch {
        display: flex;
        flex-direction: row;
        width: 100%;

        .input {
            height: 56px;
            width: 100%;
            background: #323537;
            outline: none;
            border: 2px solid #ffffff00;
            color: #80858B;
            border-radius: 10px 0 0 10px;

            &::placeholder {
                font-family: Exo 2;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
            }

            &:focus {
                background: #323537;
                color: #FFFFFF;
                border-color: #7B61FF;
                transition-duration: .2s;
            }
        }
    }

    .button {
        height: 100%;
        flex-shrink: 0;
        background: #323537;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid #ffffff00;
        border-radius: 0 10px 10px 0;

        &:focus {
            border-color: #7B61FF;
            transition-duration: .2s;
        }
    }
}

